<section class="book-info" ng-controller="bookInfoController">
    <h1>Мы издаем книги &mdash; вы их можете не читать</h1>
    <div class="row first-row">
        <!-- Book cover (оно же центральная колонка) -->
        <article class="cover col-middle ribbon ribbon-red">
            <div class="image">
                <div class="eye"></div>
                <img src="data/images/book-cover.jpg">
            </div>
            <span class="note">
                В топ-100 <span>Zoidberg</span>zon.com в разделах &laquo;Это правда было так&raquo; и
                &laquo;Когнитивный писсонанс&raquo;
            </span>
        </article>
        <!-- Левая колонка -->
        <div class="col-left">
            <!-- Book feature 1 -->
            <article class="feature">
                <div class="image">
                    <img src="data/images/bender.png">
                </div>
                <span class="note quote">
                    Эта книга доказывает ничтожность человеческой масссы.
                </span>
            </article>
            <!-- Book feature 2 -->
            <article class="feature">
                <div class="image">
                    <img src="data/images/zoidberg.png">
                </div>
                <span class="note">
                    В книге чувствуется безысходность и бесполезность
                </span>
            </article>
        </div>
        <!-- Правая колонка -->
        <div class="col-right">
            <!-- Book feature 3 -->
            <article class="feature right">
                <div class="image">
                    <img src="data/images/bits.png">
                </div>
                <span class="note">
                    Книга неправильно переведена на двоичный код
                </span>
            </article>
            <!-- Book feature 4 -->
            <article class="feature right">
                <div class="image">
                    <img src="data/images/magnet.png">
                </div>
                <span class="note">
                    В каждой книге магнит, который вытягивает вашу мелочь
                </span>
            </article>
        </div>
    </div>
    <div class="row second-row">
        <article>
            <button class="buy-button">Купить за жалкие <span>1 999 <span class="dash">Z</span></span></button>
            <span class="note">
                Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
            </span>
            <div class="image">
                <img src="data/images/scraffi.png">
            </div>
        </article>
    </div>
</section>